
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    color: white;
    text-align: center;
    justify-content: center;
    background-color: grey;
    height: 250px;
    padding: 2%;
    h2{
        margin-top: 1%;
        font-size: 1.2em;
    }
    h1 {
        margin-bottom: 1.3%;
    }
    h3{
        font-size: 0.8em;
    }

    .btn {
        border: none;
        background-color: white;
        margin: 2.5% 1.3%;
        padding: 0.5%;
        width: 12%;
        cursor: pointer;
    }
}
.ajude{
    display: flex;
    margin: 7% auto;
    width: 1000px;

    .ajude_content {
        width: 60%;
        margin-right: 10%;
        p {
            display: block;
            margin: 4% 0;
        }
    }
    .ajude_form {
        width: 40%;

        div {
            margin-bottom: 4%;
        }

        .div input{
            display: block;
            width: 80%;
            padding: 0.5%;
        }

        .checkbox{
            display: flex;   
        }
        .checkbox :nth-child(3){
            margin-left: 7%;
        }
        button{
            border: 1px solid black;
            background-color: white;
            padding: 2%;
            width: 80%;
            cursor: pointer;
        }
    }
}
.produtos {
    width: 1000px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 7%;
    h4{
        text-align: center;
        margin-bottom: 4%;
    }
    h4:before,
    h4:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    }
    h4:before{
        right: 0.5em;
        margin-left: -50%;
    }
    h4:after{
        left: 0.5em;
        margin-right: -50%;
    }
    .products{
        margin-bottom: 5%;
        span{
            display: block;
            font-size: 0.8em;
            margin: 3% 0;
            width: 80%;
        }
        .desconto {
            font-weight: bold;
        }
        button{
            border: 1px solid black;
            background-color: white;
            padding: 2%;
            width: 80%;
            cursor: pointer;
        }
        .borda_produto {
            width: 150px;
            height: 150px;
            border: 1px solid black;
        }
    }
    
    .top_products, .bottom_products{
        display: flex;
    }
    
    .more_products{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        padding: 0.5%;
        width: 30%;
        cursor: pointer;
    }
}

.compartilhe{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    h4{
        text-align: center;
        margin-bottom: 4%;
    }
    h4:before,
    h4:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    }
    h4:before{
        right: 0.5em;
        margin-left: -50%;
    }
    h4:after{
        left: 0.5em;
        margin-right: -50%;
    }
    .compartilhe_form{
        margin-top: 4%;

        .inputs{
            display: flex;
            justify-content: space-around;

            span{
                text-align: left;
                display: block;
            }

            input{
                width: 180%;
                padding: 0.5%;
            }
        }

        button{
            margin-top: 4%;
            justify-content: center;
            border: 1px solid black;
            background-color: white;
            padding: 0.3%;
            width: 30%;
            cursor: pointer;
        }
    }
}

.footer{
    margin-top: 5%;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 150px;
    padding: 2%;

    span{
        display: block;
    }
}

.erro {
    border: 1px solid red;
}

